{% extends 'reserva/base.html' %}
{% load static %}
{% block content %}
{% if carroForm %}
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="{% static '/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static '/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>
<script defer src="{% static 'reserva/js/script.js' %}"></script>
<div class="carro__picker">
    <form action="" method="post" id="formCar" class="show-loading-after-submit">
        {% csrf_token %}
        <div class="row justify-content-md-center ">
            <div class="col-md-auto fieldWrapper">
                <h2><span class="badge text-bg-success" style="margin-top:10px;">{{carro}}</span></h2>
                <h4><span class="badge text-bg-success">Dia {{data}}</span></h4>
                <label for="{{carroForm.nome.id_for_label}}" style="padding-top:10px;">{{carroForm.nome.label}}</label>
                {{carroForm.nome}}
                <label for="{{carroForm.email.id_for_label}}" style="padding-top:10px;">{{carroForm.email.label}}</label>
                {{carroForm.email}}
                <label for="{{carroForm.motivo.id_for_label}}" style="padding-top:10px;">{{carroForm.motivo.label}}</label>
                {{carroForm.motivo}}
                <label for="{{carroForm.repetir.id_for_label}}" style="padding-top:10px;">{{carroForm.repetir.label}}</label>
                {{carroForm.repetir}}
            </div>
            <div  class="col-md-auto fieldWrapper" style="margin-top:10px;">
                <div class="inline">
                    <div id="id_horas">
                        <label for="id_horas"><span class="badge text-bg-success" style="font-size:20px">Horários Díponíveis:</span></label>
                        {% if len == 9 %}
                        <p><span class="badge text-bg-warning" style="font-size:20px">Sem Horários disponíveis</span></p>
                        {% else %}
                        {% if not '07:50-08:50' in selecteds %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="hora" value="07:50-08:50" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                07:50 - 08:50
                            </label>
                        </div>
                        {% endif %}
                        {% if not '08:51-09:50' in selecteds %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="hora" value="08:51-09:50" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                            08:51 - 09:50
                            </label>
                        </div>
                        {% endif %}
                        {% if not '09:51-10:50' in selecteds %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="hora" value="09:51-10:50" id="defaultCheck3">
                            <label class="form-check-label" for="defaultCheck3">
                            09:51 - 10:50
                            </label>
                        </div>
                        {% endif %}
                        {% if not '10:51-11:50' in selecteds %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="hora" value="10:51-11:50" id="defaultCheck4">
                            <label class="form-check-label" for="defaultCheck4">
                            10:51 - 11:50
                            </label>
                        </div>
                        {% endif %}
                        {% if not '11:51-12:50' in selecteds %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="hora" value="11:51-12:50" id="defaultCheck5">
                            <label class="form-check-label" for="defaultCheck5">
                            11:51 - 12:50
                            </label>
                        </div>
                        {% endif %}
                        {% if not '12:51-13:50' in selecteds %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="hora" value="12:51-13:50" id="defaultCheck6">
                            <label class="form-check-label" for="defaultCheck6">
                            12:51 - 13:50
                            </label>
                        </div>
                        {% endif %}
                        {% if not '13:51-14:50' in selecteds %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="hora" value="13:51-14:50" id="defaultCheck7">
                            <label class="form-check-label" for="defaultCheck7">
                            13:51 - 14:50
                            </label>
                        </div>
                        {% endif %}
                        {% if not '14:51-15:50' in selecteds %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="hora" value="14:51-15:50" id="defaultCheck8">
                            <label class="form-check-label" for="defaultCheck8">
                            14:51 - 15:50
                            </label>
                        </div>
                        {% endif %}
                        {% if not '15:51-17:15' in selecteds %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="hora" value="15:51-17:15" id="defaultCheck9">
                            <label class="form-check-label" for="defaultCheck9">
                            15:51 - 17:15
                            </label>
                        </div>
                        {% endif %}
                        {% endif %}
                     </div>
                 </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div  class="col-md-auto">
                <div id="divRepetir" >
                    <label for="nuRepetir">À cada:</label>
                    <select name="nuRepetir" id="nuRepetir" class="inline" style="margin-top:5px">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <select name="tpRepetir" class="inline">
                        <option value="D">Dias</option>
                        <option value="W">Semanas</option>
                    </select>
                    <div>
                        <label for="ate">Até:</label>
                        <input type="text" name="ate" id="ate" style="margin-top:10px">
                    </div>
                </div>
            <br>
            <input type="submit" class="btn btn-success" style="float:left;width:400px" value="Salvar">
            </div>
        </div>
    </form>
</div>
{% endif %}
<script>
var date = new Date();
date.setDate(date.getDate());
$('#ate').datepicker({
    startDate: date,
    autoclose: true,
    daysOfWeekDisabled: [0, 6],
    language: 'pt-BR',
});
</script>
{% endblock %}