{% extends 'reserva/base.html' %}
{% load static %}
{% block content %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end" style="text-align: right;">
    <button type="button" class="btn btn-success btnLogin" style="width:200px" onclick="location.href='{% url 'login' %}'">Login</button>
</div>
<h1>Reserva de Recursos</h1>
<br>
<div class="dropdown">
    <button class="btn btn-primary btnIndex">Reservas para Carro</button>
    <div class="dropdown-content ">
        {% for carro in carro_list %}
            <a href="{% url 'reservas' carro %}">{{carro}}</a>
        {% endfor %}
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-primary btnIndex">Reservas para Salas de Reunião/Auditório</button>
    <br><div class="dropdown-content ">
        {% for sala in sala_list %}
            <a href="{% url 'reservas' sala %}">{{sala}}</a>
        {% endfor %}
    </div>
</div>
<br>
<div class="update">
    <div class="jumbotron" style="border:solid 1px #EBEBF2;border-radius:10px;">
        <h3 class="display-4 alert alert-success" role="alert">Atualizações</h3>
        <em class="lead">&emsp;version 1.0</em>
        <hr class="my-4" style="margin-left:2.5%;width:95%;">
        <p class="lead">&emsp;-Adicionado Escolha de data por Calendário<br>&emsp;-Adicionado reservas várias datas em lote<br>&emsp;-Adicionado mais estilização<br>
        &emsp;-Adicionado novas funcionalidades para aprovadores</p>
        <hr class="my-5" style="margin-left:45%;width:10%;">
        <em class="lead">&emsp;version 0.3</em>
        <hr class="my-4" style="margin-left:2.5%;width:95%;">
        <p class="lead">&emsp;Criado recurso para Reserva de recurso</p>
    </div>
</div>
{% endblock %}