{% extends 'reserva/base.html' %}
{% load static %}
{% block content %}
<div class="login__picker">
<form action="" method="post">
    {% csrf_token %}
    <div class="row justify-content-md-center">
    {% for item in login.visible_fields %}
            <div class="col-md-auto formsala">
                <label class='label' for="{{login.id_for_label}}"><span class="badge text-bg-light" style="font-size:15px;margin-bottom:5px;">{{item.label}}</span></label>
                {{item}}
        {% endfor %}
    <input type="submit" class="btn btn-success" id="btnLogin" value="Enviar">
            </div>
    </div>
</form>
</div>
{% endblock %}