{% extends 'reserva/base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="{% static '/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static '/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>
<div class="reservas__picker row justify-content-md">
    <h1><span class="badge text-bg-light" style="margin-top:10px;">Reservas &rArr; {{item}}</span></h1>
    <h5>Não é o recurso que procura?<br>troque aqui &darr;</h5>
    <input style="display:none" id="item" value="{{item}}">
    <input style="display:none" id="resultados">
    <div class="">
        <form>
        <select id="items">
            <option>Recursos: </option>
            <option value="FordKa">Ford Ka</option>
            <option value="Onix">Onix</option>
            <option value="HB20">HB20</option>
            <option value="Sala andar 1">Sala 1° andar</option>
            <option value="Sala Terreo">Sala Térreo</option>
            <option value="Sala Maior Conad">Sala Maior Conad</option>
            <option value="Sala Menor Conad">Sala Menor Conad</option>
            <option value="Auditorio">Auditório</option>
        </select>
        </form>
    </div>
    <div class="col-6">
        <h3><span class="badge text-bg-light">Escolha uma data</span></h3>
        <h5><em>Se ela tiver reservas <span class="badge text-bg-warning">aprovadas</span>, aparecerá abaixo</em> &darr; </h5>
        <div id="sspan" style="display:none">
        <table class="table table-bordered">
            <thead class="table-dark ">
            <tr>
                <th scope="col">Reservista</th>
                <th scope="col">Motivo</th>
                <th scope="col">Hora</th>
            </tr>
            </thead>
            <tbody id="spanT">
            </tbody>
        </table>
    </div>
    </div>
    <div class="col-6">
        <form action="" method="post">
            {% csrf_token %}
        <div id="datepicker" class="datepicker">
            <input type="text" style="display:none" name="result" onchange="teste()" id="result">
        </div>
        <input type="submit" class="btn btn-success btn__reserva"  value="Salvar">
        </form>
    </div>
</div>
<script>
async function main(){
 const item = document.getElementById('item');
 const response = await axios.get(`http://10.110.209.15:90/json/${item.value}`);
 const data = response.data;

 const items = Object.values(data);
 var date = new Date();

 if("{{item}}" == "Auditorio"){
    date.setDate(date.getDate());
    $('#datepicker').datepicker({
        startDate: date,
        language: 'pt-BR',
        beforeShowDay: function(date) {
             for (var i = 0; i < items.length; i++){
                mes = items[i]["mes"];
                dias = items[i]["dia"];
                    if (date.getMonth() == mes){
                        if (~dias.indexOf(date.getDate())) {
                            return {classes: 'highlighted', tooltip: 'Title'};
                        }
                    }

            }
        }

    });
 }else{

 date.setDate(date.getDate());
    $('#datepicker').datepicker({
        startDate: date,
        daysOfWeekDisabled: [0, 6],
        language: 'pt-BR',
        beforeShowDay: function(date) {
             for (var i = 0; i < items.length; i++){
                mes = items[i]["mes"];
                dias = items[i]["dia"];
                data_j=items[i]["datas"];

                    if (date.getMonth() == mes){
                        if (~dias.indexOf(date.getDate())) {
                            for (var dt = 0; dt< data_j.length; dt++){
                                string_dt=data_j[dt];
                                string_sli=string_dt.split("/")
                                if (string_sli[0] == date.getDate()){
                                    if (string_sli[2] == date.getFullYear()){
                                        return {classes: 'highlighted', tooltip: 'Title'};
                                    }
                                }
                            }

                        }
                    }


            }
        }

    });}
 }
main()

async function teste(){
    const item = document.getElementById('item').value;
    const response = await axios.get(`http://10.110.209.15:90/json/${item}`);
    const data = response.data;
    const items = Object.values(data);
    const teste= document.getElementById('result').value
    const sspan = document.getElementById('sspan');
    for( i = 0;i<=items.length;i++){
        for(j=0;j<items[i]["datas"].length;j++){
            if(teste === items[i]["datas"][j]){
                const varTexto = document.getElementById('spanT');
                varTexto.innerHTML="";

                var ano=items[i]["datas"][j].slice(6);
                var mes=items[i]["datas"][j].substring(3,5);
                var dia=items[i]["datas"][j].substring(0,2);
                var dataTabela=ano+'-'+mes+'-'+dia
                const repo = await axios.get(`http://10.110.209.15:90/tabela/${item}/${dataTabela}`)

                sspan.style.display="inline"
                const re = /-/gi;
                for (c=0;c<repo.data.solicitante.length;c++){
                    const tr = document.createElement('tr');
                    tr.innerHTML +=`<th scope="row">${repo.data.solicitante[c].replace(re,' ')}</th>`;
                    tr.innerHTML +=`<td>${repo.data.motivo[c].replace(re,' ')}</td>`;
                    tr.innerHTML +=`<td>${repo.data.hora[c]}</td>`;
                    varTexto.appendChild(tr);
                    }
                break;
            }else{
                const sspan = document.getElementById('sspan').style.display="none";
            }
        }
        if (sspan.style.display === "inline"){
            break;
        }
    }
};
$(document).ready(function(){
    $('#items').on('change',function(){
        var itemsName = $(this).children("option:selected").val();
        window.location.href=`http://10.110.209.15:90/reservas/${itemsName}`
    });
});
</script>
{% endblock %}