{% extends 'Tv/tv_base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div>
        <h1 >Postos Cadastrados</h1>
        <div style="display:flex;justify-content:flex-end;">
        <button type="button" class="btn btn-success" onclick="document.getElementById('add').style.display='inline'">Adicionar Posto</button></div>
    </div>
    <br>
    <div style="display:none" id="add">
        <div class="card">
            <h5 class="card-header">Novo Posto Atendimento</h5>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="pa" >Digite o nome do posto </label><br>
                    <input type="text" name="nome_posto" id="pa">
                    <input type="submit" class="btn btn-success" value="Salvar">
                </form>
            </div>
        </div>
    </div>
    {% for p in postos %}
    <div class="card" style=";margin-top:15px;">
        <h5 class="card-header">
            {{p.nome_do_PA}}
        </h5>
        <div class="card-body">
            <p class="card-title">{{p.imagens_ativas}}</p>
            <button type="button" class="btn btn-success" onclick="window.location='{% url 'tv:carrossel' p.id %}'">Ir para Carrossel</button>
            <button type="button" class="btn btn-primary" onclick="window.location='{% url 'tv:painel_pa_imagem' p.id %}'">Ir para painel de Imagens</button>
            <button type="button" class="btn btn-danger" onclick="showAlert('{% url 'tv:remove_posto' p.id %}')">Excluir Posto</button>
        </div>
    </div>
    {% endfor %}
</div>

<style>
    .card:hover{
        transform:scale(1.01);
        box-shadow: 5px 6px 6px 2px #e9ecef;
    }
</style>
<script>
function showAlert(url){

if (confirm("Certeza que deseja excluir esse posto ?")){;
window.location=url;}
}
</script>
{% endblock %}